*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Strike&display=swap');

nav{
    padding: 20px;
    background-color: black;
}

.logo{
    color: rgb(255, 255, 255);
    font-family: 'Protest-Strike';
    font-style: italic;
    font-size: 4.5rem;
    letter-spacing: -10px;
    margin-left: 2%;
    box-shadow: black;
    color: white; text-shadow: black 0.1em 0.1em 0.2em
}
.entre{
    font-family:'Protest-Strike';
    font-size: 2rem;
    color: rgb(255, 255, 255);
    color: white; text-shadow: black 0.1em 0.1em 0.2em
}
.nav-bar{
    color: white;
    display: flex;
    flex-direction: row;
    font-family: 'Protest Strike';
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    display: flex;
    flex-direction: row;
    gap: 70px;
    list-style: none;
    margin-right: 7%;
}
.nav-list:hover{
    cursor: pointer;
}
.titulo-principal{
    padding: 20px;
    font-family: 'Protest Striker' sans-serif;
    font-size: 6rem;
    color: white; text-shadow: black 0.1em 0.1em 0.2em
}
.home {
    height: 83vh;
    width: 100%;
    background-image: url('imagens/home.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.home h1{
    font-family: "Protest Strike", serif;
    margin-top: 3%;
    margin-left: 30px;
    letter-spacing: 3px;
    font-size: 8rem;
    color: white; text-shadow: black 0.1em 0.1em 0.2em
}
.home h2{
    font-family: "Protest Strike", serif;
    margin-left: 50px;
    font-size: 3rem;
    letter-spacing: 3px;
    color: white; text-shadow: black 0.1em 0.1em 0.2em
}
.home p{
    font-family: "Protest Strike", serif;
    margin-left: 50px;
    font-style: italic;
    color: white; text-shadow: black 0.1em 0.1em 0.2em
}

.frase{
    width: 140vh;
}

.saibaMais{
    margin-top: 100px;
    margin-left: 50px;
    background-color: #730099;
    color: white;
    font-family: "Protest Strike", serif;
    padding: 20px;
    font-size: 3rem;
    border-radius: 35px;
    border: none;
    
}

.forum{
    margin-top: 100px;
    margin-left: 90px;
    background-color: #730099;
    color: white;
    font-family: "Protest Strike", serif;
    padding: 20px;
    font-size: 3rem;
    border-radius: 35px;
    border: none;
}

.buttons{
    margin-top: -5%;
}

button:hover{
    cursor: pointer;
    background-color: #b303ee;
    transform: scale(1.1);
    transition: transform 0.3s;
    color: white; text-shadow: black 0.1em 0.1em 0.2em
}
.fazemos{

    background-image: linear-gradient( to top, #730099 50%,black);
}


.titulo-secundario{
    font-family: "Protest Strike", serif;
    font-size: 6rem;
    color: #fff;
    text-align: center;
    letter-spacing: 5px;
    color: white; text-shadow: black 0.1em 0.1em 0.2em
}
.container-head-fazemos {
    height: 40%;
}
.subtitulo1{
    margin-left: 5px;
    margin-right: 10px;
    width: 95vw;
    font-family: "Protest Strike", serif;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    color: white; text-shadow: black 0.1em 0.1em 0.2em
}
.subtitulo1 p{
    width: 60vw;
    height: 50vh;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    position: absolute;
    margin-top: 5%;
}
.fade{
    margin-left: 80%;
    padding: 20px;
    height: 200%;
    width: 15%;
    border-radius: 60px;
}

.fy{
    height: 83vh;
    background-image: linear-gradient( to bottom, #730099 50%,black);
}

.container-fy{
    height: 83vh;
    font-family: "Protest Strike", serif;
    font-size: 3.7rem;
    color: #fff;
    text-align: center;
    letter-spacing: 5px;
    color: white; text-shadow: black 0.1em 0.1em 0.2em
}

.titulo-secundario{
    padding: 30px;
}
.titulo-terciario{
    padding: 30px;
}


.subtitulo-carrossel{
    padding: 20px;
    font-family: 'Protest Strike';
    font-size: 3.5rem;
    text-align: center;
    width: 48vw;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.descricao-carrossel{
    font-family: 'Protest Strike';
    font-size: 1.7rem;
    width: 40vw;
    align-items: center;
    margin-left:10% ;
}

i{
    padding: 20px;
    font-size: 7rem;
}

.question{
    background-color: black;
}

.clipboard{
    border-radius: 30px;
    background-color: #260033;
    margin-left: 25%;
    width: 50vw;
    height: 70vh;
}

.cod{ 
    display: flex;
    flex-direction: initial;
    margin-left: 7%;
    padding: 20px;
    height: 200%;
    width: 15%;
    border-radius: 60px;
}

.subtitulo2{
    margin-bottom: 3%;
    margin-left: 20%;
}

.btn-proximo{
    width: 40vw;
    color: #260033;
}

.btn-anterior{
    width: 40vw;
    color: #260033;
}

.protagonismo{
    background-image: linear-gradient( to top, #730099 50%,black);
}

.titulo4{
    padding: 40px;
    font-family: "Protest Strike", serif;
    font-size: 6rem;
    color: #fff;
    text-align: center;
    letter-spacing: 5px;
    color: white; text-shadow: black 0.1em 0.1em 0.2em
}

.texto1{
    margin-left: 15vw;
    margin-top: 2%;
    margin-right: 10px;
    width: 45vw;
    font-family: "Protest Strike", serif;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    color: white; text-shadow: black 0.1em 0.1em 0.2em
}

.img4 .lara{
    border-radius: 40px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    margin-top: -70%;
    margin-left: 55vw;
}

.competitivo{
    height: 100vh;
    background-image: linear-gradient( to bottom, #730099 50%,black);
}

.titulo5{
    padding: 40px;
    font-family: "Protest Strike", serif;
    font-size: 6rem;
    color: #fff;
    text-align: center;
    letter-spacing: 5px;
    color: white; text-shadow: black 0.1em 0.1em 0.2em
}

.texto2{
    margin-left: 15vw;
    margin-top: 5%;
    margin-right: 10px;
    width: 70vw;
    font-family: "Protest Strike", serif;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    color: white; text-shadow: black 0.1em 0.1em 0.2em
}

.esl{
    padding: 50px;
    width: 150px;
    height: 150px;
}

.gg{
    padding: 50px;
    width: 250px;
    height: 150px;
}

.gc{
    padding: 50px;
    width: 150px;
    height: 150px;
}

.comunicacao{
    background-image: linear-gradient( to top, #730099 50%,black);
}

.subtitulo-carrossel2{
    padding: 20px;
    font-family: 'Protest Strike';
    font-size: 3.5rem;
    text-align: center;
    width: 48vw;
    display: flex;
    justify-content: center;
}

.descricao-carrossel{
    padding: 20px;
    letter-spacing: 2px;
    font-family: 'Protest Strike';
    font-size: 1.5rem;
    width: 40vw;
    align-items: center;
    margin-left:8%;
}

.discord{
    border-radius: 30px;
    background-color: #260033;
    margin-left: 25%;
    width: 50vw;
    height: 80vh;
}

.twitch{
    border-radius: 30px;
    background-color: #260033;
    margin-left: 25%;
    width: 50vw;
    height: 80vh;
}

.youtube{
    border-radius: 30px;
    background-color: #260033;
    margin-left: 25%;
    width: 50vw;
    height: 80vh;
}

.steam{
    border-radius: 30px;
    background-color: #260033;
    margin-left: 25%;
    width: 50vw;
    height: 80vh;
}

.prev-carrossel1{
    width: 40vw;
    color: #260033;
}

.next-carrossel1{
    width: 40vw;
    color: #260033;
}

.quiz{
    padding: 5%;
    height: 83vh;
    background-image: linear-gradient( to bottom, #730099 50%,black);
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
}

.caveira-player{
    height: 80vh;
    width: 30vw;
    margin-right: 50%;
    padding: 2%;
    border-radius: 60px;
}

.quiz{
    width: 90vw;
    height: 90vh;
}

.tamanho-texto{
    width: 100%;
    height: 20%;
}

.filho{
    display: flex;
    width: 100%;
    height: 80vh;
}

.titulo8{
    font-size: 1.8rem;
    width: 100%;
    margin-top: 3%;
    letter-spacing: 2px;
}

.img-caveira{
    width: 45%;
}
.acesso{
    width: 60%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 2%;
}

.primeiro-botao{
    margin-top: 50px;
    margin-left: 50px;
    background-color: #730099;
    color: white;
    font-family: "Protest Strike", serif;
    padding: 20px;
    font-size: 5rem;
    border-radius: 35px;
    border: none
}

.organizador{
    height: 100vh;
    background-image: linear-gradient( to top, #730099 50%,black);
}

.organizador-img{
    height: 70vh;
    width: 50%;
}

.organizador-img img{
    height: 78vh;
    width: 30vw;
    border-radius: 60px;
}

.sobre{
    margin-top: -20%;
    margin-left: 42%;
    display: flex;
    justify-content: flex-end;
    height: 25vh;
    width: 55%;
    font-size: 1.5rem;
    letter-spacing: 2px;
    background-color: white;
    color: black;
    padding: 1%;
    border-radius: 60px;
}

.sobre-projeto{
    text-decoration: none !important;
    color: black; text-shadow: white 0.1em 0.1em 0.2em;

}

footer{
    height: 30vh;
    background-color: black;
}

a{
    color: #fff;
    text-decoration: none;
}

.texto{
    font-size: 6rem;
}

.caveira-player{
    margin-bottom: 10%;
}
.content-cadastro{
    height: 100vh;
    background-image: linear-gradient( to top, #730099 50%,black);
    position: relative;
}


.titulo-cadastro{
    padding: 20px;
    background-color: #260033;
    border-radius: 30px;
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
    position: absolute;
    text-align: center;
    align-items: center;
    margin-top: 15%;
    margin-left: 25%;
    height: 40vh;
    width: 50vw;
}



